.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  text-align: justify;
  padding: 7px;
  font: 12px sans-serif;
  background: rgba(17, 27, 39, 0.9);
  color: #333333;
  word-wrap: break-word;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
  z-index: 2;
}

.tooltip-header {
  padding-bottom: 4px;
  font-weight: bold;
  color: #ffffff;
}

.tooltip-indicator {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0 8px 0 0;
  vertical-align: middle;
}

.tooltip-content {
  color: #8accf2;
}

.tooltip-line {
  width: 200px;
  height: 100px;
  color: #ffffff;
}
